//- 回复图文消息
//- !{'<![CDATA['+ extra.media_id +']]>'}
xml
    include ./common
    MsgType <![CDATA[news]]>
    ArticleCount #{extra.length}
    Articles
        each item,index in extra
            item
                Title !{'<![CDATA['+ item.title +']]>'}
                Description !{'<![CDATA['+ item.desc +']]>'}
                PicUrl !{'<![CDATA['+ item.picUrl +']]>'}
                Url !{'<![CDATA['+ item.url +']]>'}